/figure/**
/table/**
/logs/**
/output/**
*.aux
*.bbl
*.blg
*.dvi
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
*.synctex.gz
_minted*
*.nav
*.snm
*.vrb

latexindent.yaml
main.pdf
digest.pdf
.DS_Store

!/figure/**.tex
!/figure/.gitkeep
!/table/**.tex
!/table/.gitkeep
!/logs/.gitkeep
!/output/.gitkeep
